[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "*"
python-vlc = "*"
youtube-search-python = "*"
youtube_dl = "*"

[dev-packages]

[requires]
python_version = "3.8"
